[Desktop Entry]
Type=Application
Name=ERP Login
Exec=/usr/bin/erp
Terminal=False
Icon=/usr/share/icons/ERP/erp.png
StartupNotify=true
OnlyShowIn=Unity;